body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:294px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:845px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-522px;
  top:0px;
  width:1338px;
  height:845px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:252px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-481px;
  top:253px;
  width:264px;
  height:252px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cocon- Bold', 'Cocon-Regular Regular', 'Cocon-Regular', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#0000FF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:269px;
  width:426px;
  height:54px;
  display:flex;
  font-family:'Cocon- Bold', 'Cocon-Regular Regular', 'Cocon-Regular', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#0000FF;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cocon- Bold', 'Cocon-Regular Regular', 'Cocon-Regular', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:425px;
  width:414px;
  height:102px;
  display:flex;
  font-family:'Cocon- Bold', 'Cocon-Regular Regular', 'Cocon-Regular', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
